{% extends "../base3.html" %}

{%load crispy_forms_tags %}
{% block title %} حذف صندوق{% endblock title %}

{% block content %}
 <div class="container mt-5">
      <h2 class="text-center">حذف صندوق</h2>
     <hr>
     <br>
      <p class="alert alert-danger text-center">ایا مطمئن هستید که صندوق {{ object.sandogh_id }} حذف شود؟</p>

                <form action="" method="POST">
                    {% csrf_token %}
                    <input class="form-control btn btn-danger text-white " type="submit" value="اره، حذف کن">
                </form>
        <br>
        <hr>

    </div>





{% endblock content %}