{% extends '../base.html' %}
{%load crispy_forms_tags %}
{%include '../base3.html'%}
{% block title %}پسورد جدید {% endblock %}

{% block content %}

{% if validlink %}
    <div class="container my-5">
        <h3 class="text-center text-secondary">ایجاد پسورد جدید!</h1>
        <form method="POST">
        {% csrf_token %}
        {{ form | crispy }}
        <input class="btn bg-success btn-block  text-white"  type="submit" value="ثبت">
        </form>
    </div>
{% else %}

<p class="alert alert-warning">بازنشانی رمز عبور نامعتبر بود، احتمالاً به این دلیل که قبلاً استفاده شده است. لطفاً بازنشانی رمز عبور جدید را درخواست کنید.</p>

{% endif %}
{% endblock %}